<!DOCTYPE html>
<html>
  <head>
    <title>Practice Ruby Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p>Manupilated From application.html.erb file</p>
    <%= yield %>
  </body>
</html>
